/data/
/multirun/
/node_modules/
/outputs/
/wandb/
/report/references

.*cache*/
.ipynb_checkpoints/
.venv/
.virtual_documents/
__pycache__/
bin/

*.pyc
*.log
*.pkl
*.aux
*.bbl
*.blg
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
.DS_Store
