/data/
/multirun/
/outputs/
/wandb/
/report/references

.*cache*/
.ipynb_checkpoints/
.venv/
.virtual_documents/
__pycache__/
bin/

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pkl
*.pyc
*.so
*.synctex.gz

.DS_Store
